{%extends 'base.html.twig'%}
{%block body%}
<div class="container-fluid">
  <div class="row">
    {%for formation in listeFormations%}
    <div class="col-md-4 mx-auto">
      <div class="card">
        <img src="http://lorempixel.com/200/200/" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">{{formation.type}}</h5>
          <p class="card-text">{{formation.description}}</p>
        </div>
      </div>

    </div>
    {%endfor%}
  </div>

</div>
{%endblock%}
