{%extends 'base.html.twig'%}

{%block body%}
<div class="contrainer">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="card" style="width:18rem;">
  <img src="http://lorempixel.com/400/400/" class="card-img-top" alt="alternative">
  <div class="card-body">
    <h5 class="card-title">stage {{stage.id}}</h5>
    <p class="card-text">{{stage.description}}</p>
  </div>
</div>
    </div>
  </div>

</div>
{%endblock%}
